
.purple{
    background-color: purple;
    display:flex;
    justify-content: center;
    padding:30px;
}
.blue {
    background-color: blue;
    padding:20px;
    margin: 30px;
}
.yellow {
    padding:20px;
    margin:10px;
    background-color:yellow;
}
.flex {
    display:flex;
}
.red {
    background-color: red;
    padding-right:80px;
}
.green {
    background-color:green;
    padding-bottom:80px;
}